<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      body {
        background: url("../images/background.jpg");
      }
    </style>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="container d-flex flex-column align-items-center bg-dark text-light"
  >
    <%- include('common/nav') %>
    <div
      class="card w-100 mb-4 bg-secondary text-center"
      style="margin-top: 70px; opacity: 0.9"
    >
      <h5 class="card-header">🙍‍♂️ <%= userInfo.username %></h5>
      <div class="card-body">
        <div
          class="
            card-text
            d-flex
            align-items-center
            justify-content-center
            mb-3
          "
        >
          <span class="me-2"
            ><strong>Bio:</strong> <%= userInfo.bio ?? 'No bio found' %></span
          >
          <% if (userInfo.username === user.userName) { %>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Edit
          </button>
          <% } %>
        </div>
        <p class="card-text">
          <strong>Correct Guesses:</strong> <%= guesses.correct %>
        </p>
        <p class="card-text">
          <strong>Total Guesses:</strong> <%= guesses.total %>
        </p>
        <p class="card-text">
          <strong>Percentage:</strong> <%= guesses.percentage %>%
        </p>
      </div>
    </div>
    <% if (predictionsAgg.length > 0) { %>
    <h5 class="align-self-center"><%= predictionsAgg.length %> predictions</h5>
    <div
      class="accordion accordion-flush text-center w-100 mb-4"
      style="opacity: 0.9"
    >
      <% predictionsAgg.forEach((prediction, index) => { %>
      <div class="accordion-item bg-secondary">
        <h2 class="accordion-header" id="heading-<%= index %>">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-<%= index %>"
            aria-expanded="false"
            aria-controls="collapse-<%= index %>"
          >
            <%= prediction.date_col.toDateString() %> <%=
            `(${prediction.correct_guesses} / ${prediction.total_guesses})`%>
          </button>
        </h2>
        <div
          id="collapse-<%= index %>"
          class="accordion-collapse collapse"
          aria-labelledby="heading-<%= index %>"
        >
          <div class="accordion-body">
            <% gamesInfo.filter((el) => el.date_col.toDateString() ===
            prediction.date_col.toDateString()).forEach((el) => { %>
            <p>
              <%= `${el.home_team} ${el.home_team_score} - ${el.away_team_score}
              ${el.away_team}` %> <%= el.pick_id === el.winner_id ? '✅' : '❌'
              %>
            </p>
            <% }) %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <h5 class="align-self-center">
      <%= userInfo.username %> hasn't made any predictions yet...
    </h5>
    <% } %>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark" id="exampleModalLabel">
              Edit Bio
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="/user/<%=userInfo.id %>/edit?_method=PUT"
              method="POST"
            >
              <textarea
                style="box-sizing: border-box; width: 100%"
                rows="4"
                name="bio"
                required
              >
<%= userInfo.bio %></textarea
              >
              <input
                class="btn btn-primary btn-sm"
                type="submit"
                value="Submit"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
