<div class="text-center">
  <% games.forEach((game, index) => { %> <% let prediction =
  userPredictions.find(pred => pred.game_id === game.id); %>
  <div class="mb-3">
    <label>
      <input type="radio" name="<%= game.id %>" value="<%= game.away_team_id %>"
      <%= prediction?.pick_id === game.away_team_id ? "checked" : "" %> required
      />
      <img
        src="../../images/<%= game.away_team_abbrev %>.png"
        style="width: 30px"
      />
      <%= game.away_team %>
    </label>
    <label>
      <input type="radio" name="<%= game.id %>" value="<%= game.home_team_id %>"
      <%= prediction?.pick_id === game.home_team_id ? "checked" : "" %> required
      />
      <img
        src="../../images/<%= game.home_team_abbrev %>.png"
        style="width: 30px"
      />
      <%= game.home_team %>
    </label>
    <br />
  </div>
  <% }) %>
  <input class="btn btn-primary btn-sm" type="submit" value="Submit" />
  <% if (userPredictions.length > 0) { %>
  <button
    type="button"
    class="btn btn-danger btn-sm"
    data-bs-toggle="modal"
    data-bs-target="#deleteModal"
  >
    Delete Prediction
  </button>
  <% } %>
</div>
